<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.restaurantapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CurrentOrders"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TableInput"
            android:label="@string/title_activity_table_input"
            android:parentActivityName=".CurrentOrders"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.restaurantapp.CurrentOrders" />
        </activity>
        <activity
            android:name=".OrderCreate"
            android:label="@string/title_activity_order_create"
            android:parentActivityName=".TableInput"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.restaurantapp.TableInput" />
        </activity>
        <activity
            android:name=".order_confirm"
            android:label="@string/title_activity_order_confirm"
            android:parentActivityName=".OrderCreate"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.restaurantapp.OrderCreate" />
        </activity>
    </application>

</manifest>
